action                              = linear-search

# language model
[language-model]
lexicon-size                        = 21 # the number of action classes + a background class
backing-off                         = true
type                                = trigram
file                                = ../02_language_model/results/trigram.lm

# length model
[length-model]
type                                = mean-length-model
mean-length                         = 212.5
decay-factor                        = 0.9

# scorer
[scorer]
type                                = neural-network-scorer
prior-scale                         = 0.0

include config/network.config

# search parameters
[linear-search]
temporal-stride                     = 10 # the temporal stride used in the feature extraction is 10 frames
maximal-action-length               = 1000 # maximal action length in frames
