log-file                = log/forwarding.log

action                  = forwarding

source-type             = single
target-type             = single
batch-size              = 128

[features.aligned-feature-reader]
feature-cache           = data/test.images
target-cache            = data/test.labels

[forwarder]
task                    = evaluate
evaluate                = classification-error

include config/network.config

[neural-network]
load-model-from         = results
load-epoch              = 5

[neural-network.relu3]
dropout-probability     = 0.0
