[neural-network]
connections             = conv1, pool1, conv2, pool2, fc1, fc2

input-dimension         = 784
source-width            = 28
source-height           = 28
source-channels         = 1

### connections ###

[neural-network.conv1]
from                    = network-input
to                      = relu1
type                    = convolutional-connection
kernel-width            = 5
kernel-height           = 5
dest-channels           = 20

[neural-network.pool1]
from                    = relu1
to                      = maxpool1
type                    = plain-connection

[neural-network.conv2]
from                    = maxpool1
to                      = relu2
type                    = convolutional-connection
kernel-width            = 5
kernel-height           = 5
dest-channels           = 50

[neural-network.pool2]
from                    = relu2
to                      = maxpool2
type                    = plain-connection

# fully connected
[neural-network.fc1]
from                    = maxpool2
to                      = relu3
type                    = weight-connection

[neural-network.fc2]
from                    = relu3
to                      = output-layer
type                    = weight-connection

### layers ###

[neural-network.relu1]
type                    = rectified

[neural-network.maxpool1]
type                    = max-pooling
grid-size               = 2
stride                  = 2
use-bias                = false

[neural-network.relu2]
type                    = rectified

[neural-network.maxpool2]
type                    = max-pooling
grid-size               = 2
stride                  = 2
use-bias                = false

# fully connected
[neural-network.relu3]
number-of-units         = 500
type                    = rectified
dropout-probability     = 0.5

[neural-network.output-layer]
number-of-units         = 10
type                    = softmax

