log-file                = log/training.log

action                  = training

source-type             = single
target-type             = single
batch-size              = 128

trainer                 = feed-forward-trainer
training-criterion      = cross-entropy

[trainer]
task                    = classification
number-of-epochs        = 5

[estimator]
method                  = adam

[learning-rate-schedule]
initial-learning-rate   = 0.001

[features.aligned-feature-reader]
feature-cache           = data/train.images
target-cache            = data/train.labels
shuffle-buffer          = true

include config/network.config

[*]
weight-initialization   = random
bias-initialization     = zero

[neural-network]
write-model-to          = results
