action                      = viterbi-decoding
log-file                    = log/decode.log

[viterbi-decoding]
output                      = labels
pruning-threshold           = 50.0
maximal-length              = 100               # 10-frame-sampling of input data -> 100*10 = 1000 frames max length

[scorer]
type                        = segment-scorer
batch-size                  = 512
logarithmize-network-output = false
scale-segment-by-length     = true

[grammar]
type                        = left-regular
file                        = model/grammar.gz

[length-model]
type                        = threshold
threshold                   = 21.2
epsilon                     = 0.9
is-framewise                = false

[hidden-markov-model]
type                        = single-state-hmm  # single state HMM = no hmm at all (directly use action classes)
number-of-classes           = 21

[features.feature-reader]
feature-cache               = data/video_test_000238.txt
buffer-size                 = 1

[features.label-writer]
feature-cache               = results/decoding.test.labels

include config/network.config

[neural-network]
load-model-from             = model
