action                      = generate-grammar
log-file                    = log/grammar.log

[features.label-reader]
feature-cache               = data/validation.transcripts

[grammar]
type                        = n-gram
n-gram-order                = 2                     # a trigram (2 actions as history)
backing-off                 = false
file                        = model/grammar.gz

