[neural-network]
connections             = connection-power-normalization, connection-l2-normalization, output-connection
input-dimension         = 109056            # yup, dense trajectory FVs are huge. better use CNN features

[neural-network.connection-power-normalization]
from                    = network-input
to                      = layer-power-normalization
type                    = plain-connection

[neural-network.connection-l2-normalization]
from                    = layer-power-normalization
to                      = layer-l2-normalization
type                    = plain-connection

[neural-network.output-connection]
from                    = layer-l2-normalization
to                      = output-layer

[neural-network.layer-power-normalization]
number-of-units         = 109056
type                    = power-normalization
use-bias                = false

[neural-network.layer-l2-normalization]
number-of-units         = 109056
type                    = l2-normalization
use-bias                = false

[neural-network.output-layer]
number-of-units         = 21                # number of classes
type                    = softmax
