action                                = temporal-feature-quantization

# apply pca transformation on input
features.feature-reader.preprocessors = vector-sub, matrix-mul
vector-sub.type                       = vector-subtraction
matrix-mul.type                       = matrix-multiplication

[feature-quantization]
type                                  = fisher-vector
batch-size                            = 16384          # how many feature vectors are processed in parallel?
apply-histogram-normalization         = false          #
apply-power-normalization             = false          # do not apply any normalization yet (since we store an integral sequence)
apply-l2-normalization                = false          #
prepend-missing-frames                = true           # dense traj start at frame 15, fill frame 1-14 with zeros
store-as-integral-sequence            = true
temporal-stride                       = 10             # compute a Fisher vectors over 10 frames each

[feature-quantization.fisher-vector]
use-maximum-approximation             = false
second-order-fisher-vectors           = true

