action                  = feature-quantization

[feature-quantization]
type                    = bag-of-words
batch-size              = 16384

[feature-quantization.bag-of-words]
lambda-file             = results/weights-0-1.matrix.gz
bias-file               = results/bias-1.vector.gz

[features.feature-reader]
buffer-size             = 100 # read at most 100 sequences at a time
preprocessors           = vector-sub, vector-div

[vector-sub]
type                    = vector-subtraction
vector                  = normalization/mean.vector.gz

[vector-div]
type                    = vector-division
vector                  = normalization/standard-deviation.vector.gz
