# neural network configuration
[neural-network]
connections     = connection-0-1, connection-1-2, connection-2-2, connection-2-3
input-dimension = 30

# define the connections
[neural-network.connection-0-1]
from            = network-input
to              = layer-1

[neural-network.connection-1-2]
from            = layer-1
to              = layer-2
type            = plain-connection

[neural-network.connection-2-2]
from            = layer-2
to              = layer-2
type            = plain-connection

[neural-network.connection-2-3]
from            = layer-2
to              = layer-3

# define the layers
[neural-network.layer-1]
number-of-units = 4000
type            = softmax

[neural-network.layer-2]
number-of-units = 4000
type            = sequence-length-normalization
use-bias        = false

[neural-network.layer-3]
number-of-units = 10 # number of classes
type            = softmax
