# general settings
math.random.seed                                = 0
log-file                                        = log/training.log

# neural network training
action                                          = neural-network-training
training-mode                                   = supervised
batch-size                                      = 128
max-number-of-epochs                            = 50
feature-type                                    = sequence

# trainer type and training criterion
trainer                                         = bag-of-words-network-trainer
trainer.model-update-strategy                   = after-epoch
training-criterion                              = cross-entropy

# optimization method
[estimator]
method                                          = rprop
initial-step-size                               = 0.01

# define input data and preprocessing
[features.labeled-feature-reader]
feature-cache                                   = features/train.bundle
label-cache                                     = features/labels.train.cache
sort-sequences                                  = true
preprocessors                                   = vector-sub, vector-div

[vector-sub]
type                                            = vector-subtraction
vector                                          = normalization/mean.vector.gz

[vector-div]
type                                            = vector-division
vector                                          = normalization/standard-deviation.vector.gz

# include the configuration for the actual neural network
include config/network.config

# save model only at the end of training
save-frequency                                  = 0

# model files
neural-network.connection-0-1.write-weights-to  = results/weights-0-1.matrix.gz
neural-network.connection-2-3.write-weights-to  = results/weights-2-3.matrix.gz
neural-network.layer-1.write-bias-to            = results/bias-1.vector.gz
neural-network.layer-3.write-bias-to            = results/bias-3.vector.gz
