[neural-network]
connections = connection-0-1, connection-1-2
input-dimension = 784

[neural-network.connection-0-1]
from = network-input
to = layer-1

[neural-network.connection-1-2]
from = layer-1
to = layer-2

[neural-network.layer-1]
number-of-units = 800
type = sigmoid

[neural-network.layer-2]
number-of-units = 10
type = softmax
