log-file                    = log/normalization.log

action                      = mean-and-variance-estimation

[feature-transformation.mean-and-variance-estimation]
mean-file                   = normalization/mean.vector.gz
standard-deviation-file     = normalization/standard-deviation.vector.gz

[features.feature-reader]
feature-cache               = features/train.cache
