log-file                                        = log/recognition.log

action                                          = neural-network-training
feature-type = single

# features and preprocessing
features.labeled-feature-reader.feature-cache   = features/test.cache
features.labeled-feature-reader.label-cache     = features/labels.test.cache
features.labeled-feature-reader.preprocessors   = vector-sub, vector-div
vector-sub.type                                 = vector-subtraction
vector-sub.vector                               = normalization/mean.vector.gz
vector-div.type                                 = vector-division
vector-div.vector                               = normalization/standard-deviation.vector.gz

# training parameters
trainer                                         = forwarder
training-mode                                   = supervised
batch-size                                      = 512

# network configuration
include config/network.config

neural-network.connection-0-1.load-weights-from = results/weights-0-1.matrix.epoch-100.gz
neural-network.layer-1.load-bias-from           = results/bias-1.vector.epoch-100.gz
neural-network.connection-1-2.load-weights-from = results/weights-1-2.matrix.epoch-100.gz
neural-network.layer-2.load-bias-from           = results/bias-2.vector.epoch-100.gz
