log-file                                        = log/training.log
math.random.seed                                = 133

action                                          = neural-network-training
feature-type = single

# features and preprocessing
features.labeled-feature-reader.feature-cache   = features/train.cache
features.labeled-feature-reader.label-cache     = features/labels.train.cache
features.labeled-feature-reader.shuffle-buffer  = true
features.labeled-feature-reader.preprocessors   = vector-sub, vector-div
vector-sub.type                                 = vector-subtraction
vector-sub.vector                               = normalization/mean.vector.gz
vector-div.type                                 = vector-division
vector-div.vector                               = normalization/standard-deviation.vector.gz

# training parameters
trainer                                         = feed-forward-trainer
training-criterion                              = cross-entropy
training-mode                                   = supervised
batch-size                                      = 512
max-number-of-epochs                            = 100
save-frequency                                  = 10

[estimator]
method = steepest-descent

[learning-rate-schedule]
method = online-newbob
initial-learning-rate = 1.0

# network configuration
include config/network.config

neural-network.connection-0-1.write-weights-to  = results/weights-0-1.matrix.gz
neural-network.layer-1.write-bias-to            = results/bias-1.vector.gz
neural-network.connection-1-2.write-weights-to  = results/weights-1-2.matrix.gz
neural-network.layer-2.write-bias-to            = results/bias-2.vector.gz
