### configuration to generate the grammar ###

action                      = generate-grammar
log-file                    = log/grammar.log

[features.label-reader]
feature-cache               = data/split1.train.transcripts

[grammar]
type                        = finite
file                        = results/grammar.gz

