### rnn configuration ###

[neural-network]
connections                     = connection-0-1, output-connection
input-dimension                 = 64

[neural-network.feature-transformation]
type                            = vector-to-sequence
transformed-feature-dimension   = 64

[neural-network.connection-0-1]
from                            = network-input
to                              = gru-layer

[neural-network.output-connection]
from                            = gru-layer
to                              = output-layer

[neural-network.gru-layer]
number-of-units                 = 64
type                            = gated-recurrent-unit

[neural-network.output-layer]
type                            = softmax
