### configuration of rnn training ###

action                      = training
log-file                    = log/training.iter-2.log

source-type                 = single
target-type                 = single
batch-size                  = 512

[features.aligned-feature-reader]
feature-cache               = data/split1.train.bin
target-cache                = results/iter-2/train.labels
shuffle-buffer              = true
preprocessors               = windowing

[windowing]
type                        = windowing
window-size                 = 21

[*]
trainer                     = rnn-trainer
training-criterion          = cross-entropy

[trainer]
model-update-strategy       = after-batch
task                        = classification
number-of-epochs            = 5
save-frequency              = 1

[estimator]
method                      = steepest-descent

[learning-rate-schedule]
method                      = online-newbob
initial-learning-rate       = 1.0

include config/network.config

[neural-network]
write-model-to              = results/iter-2
